:root {
    --main_bg: #F0F0C9;
    --first_layer: #262626;
    --second_layer: #6A8D73;
    --short_bg: #6A8D73;
    --link: #103783;
    --active_link: #9BAFD9;
}

img#cv_picture {
    width: 200px;
    margin-top: 1ex
}

body {
    font-family: "Segoe UI Light", "Segoe UI", sans-serif;
    background-color: #FFF;
    /* vertical | horizontal */
    padding: 1cm min(10vw, 3cm);
    font-size: 11pt;
    margin: 0;
    color: var(--first_layer);
}

body div.short_present div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

body div.short_present p {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* top/bottom left/right */
    margin: 1ex auto;
}

body div.short_present p img {
    margin: 1ex;
}

body div.short_present {
    width: 100%;
    background-color: var(--short_bg);
    text-align: center;
}

body li {
    list-style: "- " outside;
    margin-top: 1ex;
    margin-left: 1ex;
}

body ul:not(.skip) > li.list_ttl {
    list-style: none;
}

div.main {
    background-color: var(--main_bg);
}

div.main>div {
    padding: min(1cm, 1vw);
}

div.objective {
    background-color: var(--first_layer);
    color: #FFF;
    /* top/bottom left/right */
    margin: 0.5cm 1cm;
    padding: 0.5cm;
    text-align: justify;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
a {
    font-family: "Segoe UI", "Segoe UI Light", sans-serif;
    ;
    font-weight: bolder;
}

h1 {
    background-color: var(--first_layer);
    color: white;
    padding: 0.5ex;
    /* top/bottom left/right */
    margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--first_layer);
    padding: 0.5ex;
    border-bottom: var(--second_layer) solid 5pt;
    /* top/bottom left/right */
    margin: 0 0.5cm;
}

div.intro_flexer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

div.picture {
    margin-left: 1cm;
    margin-right: 1cm;
    width: 200px;
    text-align: center;
    flex-grow: 1;
}

div.intro_flexer div.objective {
    width: calc(100% - 210px - 5cm);
    min-width: 10cm;
    flex-grow: 1;
}

div.flexer {
    display: flex;
    flex-wrap: wrap;
}

div.flexer>div {
    width: 30%;
    min-width: 10cm;
    /* top/bottom left/right */
    margin: 0.5cm 1cm;
    flex-grow: 1;
}

div.flexer ul {
    background-color: white;
    padding: 0.5cm;
    /* top/bottom left/right */
    margin: 0;
}

div.flexer_intern {
    display: flex;
    flex-wrap: wrap;
}

div.flexer_intern ul {
    flex-grow: 1;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline 1pt;
}

a:active {
    color: var(--active_link);
}

a:active {
    color: var(--active_link);
}

a:visited {
    color: var(--active_link);
    font-family: "Segoe UI Light", "Segoe UI", sans-serif;
    font-weight: lighter;
}

ul#prof_exp {
    display: flex;
    flex-wrap: wrap;
}

ul#prof_exp>ul.mid_flexer {
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

#cb_language,
#cb_cent_interest,
#cb_skills,
#cb_training,
#cb_prof_exp {
    display: none;
}

@keyframes showing {
    0% {
        height: 0px;
        padding: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        padding: 0.5cm;
        opacity: 1;
        height: auto;
    }
}

@keyframes hidding {
    0% {
        height: auto;
        opacity: 1;
        padding: 0.5cm;
    }

    80% {
        opacity: 0;
    }

    100% {
        height: 0px;
        padding: 0;
    }
}

div {
    overflow: hidden;
}

@media (max-width: 780px) {
    body {
        padding: 0;
        background-color: var(--main_bg);
    }

    body div.short_present {
        /* top/bottom left/right */
        padding: 0.5cm 0;
    }

    body div.short_present p {
        margin: 0 auto;
    }

    #cb_language:checked+#language,
    #cb_cent_interest:checked+#cent_interest,
    #cb_skills:checked+#skills,
    #cb_training:checked+#training,
    #cb_prof_exp:checked+#prof_exp {
        height: 0px;
        padding: 0;
        animation-name: hidding;
        animation-duration: 2s;
    }

    #cb_language:not(:checked)+#language,
    #cb_cent_interest:not(:checked)+#cent_interest,
    #cb_skills:not(:checked)+#skills,
    #cb_training:not(:checked)+#training,
    #cb_prof_exp:not(:checked)+#prof_exp {
        animation-name: showing;
        animation-duration: 2s;
    }

    body div.short_present div {
        flex-direction: column;
    }

}

li:not(li.list_ttl) {
    animation-duration: 3s;
    animation-name: slide_in_li;
}

h2 {
    animation-duration: 1s;
    animation-name: slide_in_h2;
}

@keyframes slide_in_li {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 1ex;
        width: 100%;
    }
}

@keyframes slide_in_h2 {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 1ex;
        width: auto;
    }
}