:root {
    --main_bg: #F0F0C9;
    --first_layer: #262626;
    --second_layer: #384b3d;
    --short_bg: #384b3dAA;
    --link: #103783;
    --active_link: #9BAFD9;
    --min_width: 10cm;
    --border_radius: 30px;
}

img#cv_picture {
    width: 200px;
    margin: 1ex;
    border-radius: var(--border_radius);
}

body {
    font-family: "Segoe UI Light", "Segoe UI", sans-serif;
    background-color: var(--main_bg);
    /* vertical | horizontal */
    padding: 0;
    font-size: 12pt;
    margin: 0;
    color: var(--first_layer);
    background-image: url("../PICTURE/6VXX_BLUR.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body div.short_present div.flex_short_present {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

body div.short_present p {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* top/bottom left/right */
    margin: 1ex auto;
    /* top/bottom left/right */
    padding: 1ex;
    color: #FFF;
}

body div.short_present p img {
    margin: 1ex;
}

body div.short_present {
    width: 100%;
    background-color: var(--short_bg);
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom-left-radius: var(--border_radius);
    border-bottom-right-radius: var(--border_radius);
}

body li {
    list-style: "- " outside;
    margin-top: 1ex;
    margin-left: 1ex;
}

body ul:not(.skip)>li.list_ttl {
    list-style: none;
}

div.main>div,
div.intro_flexer {
    padding: min(1cm, 1vw);
}

div.objective {
    color: #FFF;
    /* top/bottom left/right */
    margin: 0.5cm 1cm;
    padding: 0.5cm;
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    font-size: 14pt;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
a {
    font-family: "Segoe UI", "Segoe UI Light", sans-serif;
    ;
    font-weight: bolder;
}

h1:not(#h1_objective) {
    color: var(--first_layer);
    padding: 0.5ex;
    /* top/bottom left/right */
    margin: 0;
    hyphens: auto;
    -webkit-hyphens: auto;
    padding-left: 30px;
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--first_layer);
    padding: 0.5ex;
    border-bottom: var(--second_layer) solid 5pt;
    /* top/bottom left/right */
    margin: 0 0.5cm;
}

div.intro_flexer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

div.picture {
    margin-left: 1cm;
    margin-right: 1cm;
    width: 200px;
    text-align: center;
    flex-grow: 1;
}

div.intro_flexer div.objective {
    width: calc(100% - 210px - 5cm);
    min-width: var(--min_width);
    flex-grow: 1;
}

div.flexer {
    display: flex;
    flex-wrap: wrap;
}

div.flexer>div {
    width: 30%;
    min-width: var(--min_width);
    /* top/bottom left/right */
    margin: 0.5cm 1cm;
    flex-grow: 1;
}

div.flexer>div.works,
div.flexer>div.language,
div.flexer>div.cent_interest,
div.flexer>div.event {
    width: 5%;
}

ul.card {
    background-color: #FFF;
    padding: 0.5cm;
    /* top/bottom left/right */
    margin: 0;
    border-radius: var(--border_radius);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

div.flexer_intern {
    display: flex;
    flex-wrap: wrap;
}

div.flexer_intern ul {
    flex-grow: 1;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline 1pt;
}

a:active {
    color: var(--active_link);
}

a:active {
    color: var(--active_link);
}

a:visited {
    color: var(--active_link);
    font-family: "Segoe UI Light", "Segoe UI", sans-serif;
    font-weight: lighter;
}

ul#prof_exp {
    display: flex;
    flex-wrap: wrap;
}

ul#prof_exp>ul.mid_flexer,
ul#works>ul.mid_flexer {
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

#cb_language,
#cb_cent_interest,
#cb_skills,
#cb_training,
#cb_prof_exp,
#cb_works,
#cb_event {
    display: none;
}

@keyframes showing {
    0% {
        height: 0px;
        padding: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        padding: 0.5cm;
        padding-top: calc(0.5cm + 30px);
        opacity: 1;
        height: auto;
    }
}

@keyframes hidding {
    0% {
        height: auto;
        opacity: 1;
        padding: 0.5cm;
    }

    80% {
        opacity: 0;
    }

    100% {
        height: 0px;
        padding: 0;
    }
}

div {
    overflow: hidden;
}

@media (max-width: 500px) {
    :root {
        --min_width: 5cm;
    }

    body div.short_present {
        /* top/bottom left/right */
        padding: 0.5cm 0;
    }

    body div.short_present p {
        margin: 0 auto;
    }

    #cb_language:checked+#language,
    #cb_cent_interest:checked+#cent_interest,
    #cb_skills:checked+#skills,
    #cb_training:checked+#training,
    #cb_prof_exp:checked+#prof_exp,
    #cb_works:checked+#works,
    #cb_event:checked+#event {
        height: 0px;
        padding: 0;
        animation-name: hidding;
        animation-duration: 2s;
    }

    #cb_language:not(:checked)+#language,
    #cb_cent_interest:not(:checked)+#cent_interest,
    #cb_skills:not(:checked)+#skills,
    #cb_training:not(:checked)+#training,
    #cb_prof_exp:not(:checked)+#prof_exp,
    #cb_works:not(:checked)+#works,
    #cb_event:not(:checked)+#event {
        animation-name: showing;
        animation-duration: 2s;
        padding-top: calc(0.5cm + 30px);
        position: relative;
        top: -30px;
        z-index: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        position: relative;
    }

    body div.short_present div.flex_short_present {
        flex-direction: column;
    }

    h1:not(#h1_objective) {
        position: relative;
        color: white;
        background-color: var(--first_layer);
        border-radius: var(--border_radius);
        z-index: 1;
    }
}

li:not(li.list_ttl) {
    animation-duration: 3s;
    animation-name: slide_in_li;
}

h2 {
    animation-duration: 1s;
    animation-name: slide_in_h2;
}

@keyframes slide_in_li {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 1ex;
        width: 100%;
    }
}

@keyframes slide_in_h2 {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 1ex;
        width: auto;
    }
}